/* ================================= 
  Page Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-size: 1.35em;
  font-family: 'Varela Round', sans-serif;
  color: #eee;
  background: #333;
  padding-left: 5%;
  padding-right: 5%;
}
.main-content {
  
}
.new-section, .new-section input, .new-section label {
  line-height: 2em;
  padding: 5px;
  margin: 10px;
}
.new-section label {
  padding-right: 15px;
}
.new-section input {
  font-size: 1em;
  width: 200px;
}
.new-section {
  border-bottom: 2px solid grey;
  margin-bottom: 50px;
}
.button-create {
  display: inline-block;
  background: red;
  padding: 15px;
  margin: 15px 15px 30px;
  border-radius: 15px;
}

/* ================================= 
  Flexbox
==================================== */

header, .main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1.blur {
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.nav-item {
  align-self: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
