/* ================================= 
  Page Styles
==================================== */

* {
  box-sizing: border-box;
}
body {
  font-size: 1.35em;
  font-family: 'Varela Round', sans-serif;
  color: #eee;
  background: #333;
  padding-left: 5%;
  padding-right: 5%;
}
.main-content {
  
}

/* ================================= 
  Flexbox
==================================== */

header, .main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h1.blur {
  -webkit-filter: blur(2px);
/*  filter: blur(10px);*/
}
.nav-item {
  align-self: center;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
