/* ================================= 
  Timebox Styles
==================================== */
.tbox-group {
  width: 350px;
/*  background: blue;*/
}
.tbox-wrapper {
  background: #eee;
  max-height: 550px;
  border-radius: 20px;
}
.tbox-name {
  color: #333;
  font-size: 1.5em;
  font-weight: 900;
  padding: .5em .5em 0;
}
.tbox-time {
  color: #666;
  font-size: 1.2em;
  padding: .5em .5em 0;
}
.tbox-container {
  padding: 10px 0;
  background: #eee;
  border-radius: 20px;
}
.tbox-item {
  color: #eee;
  margin: 10px;
  height: 90px;
  width: 90px;
  background: #c5cdda;
  border-radius: 10px;
  box-shadow: 3px 4px 3px 2px rgba(0,0,0,0.1);
}
.tbox-item:hover {
  background: #3db5da;
}
.tbox-done, .tbox-item.tbox-done {
  background: red;
}

/* ================================= 
  Flexbox Styles
==================================== */
.tbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tbox-header {
  display: flex;
  justify-content: space-between;
}
.tbox-name, .tbox-time {
  align-self: center;
}
.tbox-item {

}

/* ================================= 
  Media Query: >= 769px
==================================== */
@media (min-width: 769px) {
  

}