/* ================================= 
  Timebox Styles
==================================== */
.tbox-group {
  max-width: 400px;
/*  background: blue;*/
}
.tbox-wrapper, .tbox-progress {
  background: #eee;
}
.tbox-wrapper {
}
.tbox-name {
  color: #333;
  font-size: 2em;
  font-weight: 900;
  padding: .5em .5em 0;
}
.tbox-container {
  padding: 10px;
  background: #eee;
  border-radius: 5px;
  margin: 45px auto;
  height: 400px;
}
.tbox-item {
  color: #eee;
  margin: 5px;
/*  background: #3db5da;*/
  background: #c5cdda;
  border-radius: 3px;
  box-shadow: 3px 4px 3px 2px rgba(0,0,0,0.1);
}
/* Progress */
.tbox-progress {
  margin-left: 15px;
  padding: 5px;
}
.tbox-progress-item {
  margin: 15px;
/*  background: #3db5da;*/
  background: red;
/*  border-radius: 3px;*/
/*  box-shadow: 3px 4px 3px 2px rgba(0,0,0,0.1);  */
}

/* ================================= 
  Flexbox Styles
==================================== */
.tbox-container, .tbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tbox-item {
  flex-grow: 1;
  flex-shrink: 0;
}
.tbox-3 {
  flex-basis: 80px;
/*  padding-bottom:28%;*/
  max-width: 100px;
}
.tbox-done {
  background: red;
}
.tbox-wrapper {
  flex: 2;
}
.tbox-progress {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}
.tbox-progress-item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 20px;
  flex-direction: column;
  height: 50px;
  padding: 25px;
  align-self: center;
}

@media (min-width: 769px) {
  

}