<!doctype html>
<html lang="en">
<head>
  <title></title>
  <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<!--  <link href='styles/main.css' rel='stylesheet' type="text/css">-->
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/tboxes.css">
<!--  <script src="vendor/angular.js" type="text/javascript"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="scripts/app.js" type="text/javascript"></script>
  <script src="scripts/controllers/client.controller.todos.js" type="text/javascript"></script>
  <script src="scripts/services/client.service.todos.js" type="text/javascript"></script>
  <script src="scripts/directives/client.directive.todos.js" type="text/javascript"></script>
  <script src="scripts/controllers/client.controller.tboxes.js" type="text/javascript"></script>
  <script src="scripts/controllers/client.controller.list-tboxes.js" type="text/javascript"></script>
  <script src="scripts/services/client.service.tboxes.js" type="text/javascript"></script>
  <script src="scripts/models/server.model.tbox.js" type="text/javascript"></script>
</head>
<body ng-app="timeboxApp">
  <header>
    <h1 class="blur">Timebox</h1>
    <nav class="main-nav">
      <div class="nav-item">Stats</div>
    </nav>
  </header>
<!--  <todos></todos>-->
  <div class="main-content" ng-controller="listTboxesCtrl">
    <div ng-controller="tboxesCtrl as vm">
      <div ng-click="">New</div>
      <div ng-repeat="tbox in tboxes">
        <div class="tbox-wrapper">
          <div class="tbox-header">
            <div class="tbox-name" ng-bind="tbox.name"></div>
            <div class="tbox-time" ng-bind="tbox.duration"></div>
            <div class="tbox-time" ng-bind="tbox.units"></div>
          </div>
          <div class="tbox-container">
            <div ng-repeat="cell in tbox.cells"
                 class="cell"
                 ng-click="vm.tboxClick(cell, tbox)"
                 ng-class="{'cell-done': cell.isDone}">
              <div class="cell-time" ng-bind="cell.completed.toLocaleString()"></div>
            </div>
          </div>
        </div>
        <div class="tbox-stats">
          <pre>
  Category: {{ tbox.name }}
  Total time: {{ tbox.duration * tbox.totalAmt }} {{ tbox.units }}s
  Created: {{ tbox.created.toLocaleString() }}
  Completed: {{ tbox.completed.toLocaleString() || 'not yet done' }}
          </pre>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>